---
export interface Props {}

// const { href, title, body } = Astro.props;
---

<section
  class="bg-blue-100 px-10 py-5 flex flex-col justify-center h-[80vh] w-full items-center"
>
  <h1 class="text-3xl font-bold text-center md:text-left">
    BIENVENIDOS A TECNOPET DE VENEZUELA
  </h1>
  <h2 class="">INNOVACIÓN EN LA INDUSTRIA DE EMBOTELLADO</h2>
  <div class="flex space-x-4 mt-6">
    <button class="px-4 py-3 rounded-lg border-2 border-cyan-900 text-cyan-900"
      >Botellas</button
    >
    <button class="px-4 py-3 rounded-lg bg-cyan-900 text-white">Contacto</button
    >
  </div>
</section>
